<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ===== Fluxidi Tracking: required permissions ===== -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
      GOOGLE-PLAY-PRIVACY-READINESS-P0:
      ACCESS_BACKGROUND_LOCATION intentionally NOT declared.

      Release code path uses only Geolocator.getPositionStream with
      AndroidSettings that do NOT set foregroundNotificationConfig, so no
      location foreground service is ever started by this app. Location
      updates therefore only run while the Activity is visible / foreground.
      No Permission.locationAlways request exists in lib/. Keeping the
      background permission would be a Play Data Safety mismatch.
    -->

    <!-- Foreground service (Android 9+/10+). No location FGS is started by
         this app today; the geolocator plugin registers a service class but
         only starts it when a foregroundNotificationConfig is provided,
         which the release code path never does. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <application
        android:label="fluxidi_tracking"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:enableOnBackInvokedCallback="true">

        <!-- ===== Mapbox access token ===== -->
        <meta-data
            android:name="com.mapbox.maps.token"
            android:value="@string/mapbox_access_token" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Fluxidi payment return deep link: fluxidi://pay/return?... -->
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="fluxidi" android:host="pay" />
            </intent-filter>
        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <!-- GOOGLE-MAPS-DIRECT-LAUNCH-ANDROID-1: targeted package visibility only. -->
        <package android:name="com.google.android.apps.maps" />
    </queries>

</manifest>

